.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  
}

@media(min-width:1200px) {
  .sidebar {
    background-color:white;
    width: 240px;
    
    
  
 
   
   
  }

}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  
  
}
@media(min-width:1200.1px) {
  .sidebar-link {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   height: 40px;

        
   
  }

}
.sidebar-link:hover {
  background-color: rgb(224, 224, 224);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}

@media(min-width:1200px) {
  .sidebar-link img {
    margin-right: 10px;
  
  }

}
@media(min-width:1200px) {
  .sidebar-link div {
    font-size: 11.5px;
  }
}